<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- My CSS -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Messages</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<p class="navbar-text">Hi {{ user.username }}</p>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/messages">View Messages</a></li>
					<li><a href="/messages/new">Send a Message</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</nav>

		<h1>Your Messages</h1>
		<div class="col-sm-3 col-sm-offset-3 col-xs-6">
			<table>
			<tr>
				<th class="text-center">Sender</th>
				<th class="text-center">Time of Last Message</th>
			</tr>
			<!--Loop through all the user's messages, and print them out in rows-->
			{% for message in user.messages %}
			<tr class="messageInfo">
				<td>{{ message.sender }}</td>
				<td><!--{{ message.lastMessageTime }}--></td>
			</tr>
			{% endfor %}
		</table>
		</div>
		<div class="col-sm-3 col-xs-6" style="background-color: green">
			<div class="messageText"> <!--Conversation1--> </div>
			<div class="messageText"> <!--Conversation2 etc...--> </div>
		</div>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- My Javascript -->
		<script src="/scripts/script.js"></script>
	</body>
</html>
