<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- My CSS -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>New Message</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<p class="navbar-text">Hi {{ user.username }}</p>
				<ul class="nav navbar-nav">
					<li><a href="/messages">View Messages</a></li>
					<li class="active"><a href="/messages/new">Send a Message</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</nav>

		<h1>New Message</h1>
		{% if error %}
			<p> {{ error }}</p>
		{% endif %}
		<form action="/messages" method="POST">
			<input type="text" name="recipient" placeholder="recipient" required>
			<input type="text" name="subject" placeholder="subject" required>
			<input type="text" name="message" placeholder="message" required>
			<button>Send</button>
		</form>

		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
