/*Do not allow the display to collapse further on widths less than 320px*/
html, body {
  min-width: 320px;
}

table {
	border: 1px solid black;
	/*margin-left: auto;
	margin-right: auto;*/
	width: 100%;
}

h1 {
	text-align: center;
}

td {
	text-align: center;
}

tr:nth-child(2n+2) {
    background-color: #ccfbff;
	cursor: pointer;
}

tr:nth-child(2n+3) {
	background-color: #ffe8ee;
	cursor: pointer;
}

.messageInfo:hover {
	background-color: #80d3fc;
}

.messageInfo {

}

.conversationText {
	display: none;
}

.showConversationText {
	display: inline;
}

.conversationTextBox {
	height: 50vh;
	overflow-y: scroll;
	word-wrap: break-word;
	border: 1px solid black;
}

form {
  text-align: center;
}

/*.col-centered{
    float: none;
    margin: 0 auto;
}*/

.homePage {
	text-align: center;
}

.loginForm {
	display: none;
}

.signupForm {
	display: none;
}

.senderName {
	font-weight: bold;
	color: #145dd1;
}

.recipientName {
	font-weight: bold;
	color: #a5030e;
}
